@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --buttonTextColor: #fff;
  --buttonBgColor: #9865e4;
  --heroColor: #6930be;
  --mainBgColor: rgb(244, 247, 247);
  --navBgColor: rgb(244, 247, 244);
  --heroTextColor: #1a1620;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.nav-container {
  background: var(--navBgColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  height: 70px;
  border-bottom: 1px solid #d5d8d7;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.hero-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.hero-icon {
  color: var(--heroColor);
  font-weight: bolder;
}

.hero-label {
  color: var(--heroTextColor);
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.login-btn {
  background: white;
  color: var(--heroColor);
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  outline: none;
  cursor: pointer;
}

.signup-btn {
  color: white;
  font-weight: 500;
  background-color: var(--buttonBgColor);
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* main section */

.main-container {
  display: flex;
  flex-direction: column;
  padding: 40px 90px 10px 90px;
  background-color: var(--mainBgColor);
}

/* cards wrapper */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
